body {
    background-color: burlywood;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 0px;
    background: steelblue;
    font-weight: initial;
    text-transform: uppercase;
    color: white;
    line-height: 1.1;
    padding: 20px 0px;
}

#colordisplay {
    font-size: 200%;
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: initial;
    transition: all 0.3s;
    -webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;
}

button:hover {
    background: steelblue;
    color: white;
}

#massage {
    width: 20%;
}

.cont {
    max-width: 600px;
    margin: 20px auto;
}

.square {
    background-color: blue;
    width: 30%;
    padding-bottom: 30%;
    margin: 4.66px;
    float: left;
    border-radius: 15%;
    transition: background 0.6s;
    -webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;
}

.great {
    text-align: center;
}

#massage {
    text-align: ;
    width: ;
    height: 30px;
    background-color: whitesmoke;
    color: black;
}

#reset {
    text-align: center;
}

button {
    text-align: center;
}

span {
    text-align: center;
}

#stripe {
    background: white;
    height: 30ps;
    text-align: center;
    color: black;
}

.selected {
    background: steelblue;
    color: white;
}